# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# other
stuff.md
hack/
*.txt
# possible binaries
cmd/token/token

# web assets
examples/web/public
.cache
node_modules

# MAY CONTAIN SECRETS
app.yaml
gcloud.json